nsfw_finetuned/final_model/pytorch_model.bin filter=lfs diff=lfs merge=lfs -text
nsfw_nir_finetuned/final_model/pytorch_model.bin filter=lfs diff=lfs merge=lfs -text
checkpoints/cut_resnet_finetune_epoch_200.pth filter=lfs diff=lfs merge=lfs -text
